*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.clearfix:after{
  clear: both;
  display: table;
  content: "";
}
.container{
  height: 100vh;
  width: 100vw;
}
.nav-global-bar{
  height: 200px;
}
nav.top-bar{
  height: 100px;
  background-color: #F4F9FD;
}
nav.top-bar .top-bar-left{
  width: 40%;
  height: 100px;
  border:1px solid black;
  float: left;
}
nav.top-bar .top-bar-right{
  width: 60%;
  height: 100px;
  border:1px solid black;
  float: left;
}
nav.menu-nav-bar{
  height: 100px;
  background-color: #FFFFFF;
}
.menu-nav-bar .hs-logo{
  width: 40%;
  height: 100px;
  border:1px solid black;
  float: left;
}
.menu-nav-bar .group-item{
  width: 60%;
  height: 100px;
  border:1px solid black;
  float: left;
}

section.hs-concept{
  height: 600px;
  background-color: #FFF2EF;
}
div.separator{
  background-color: #AFEBE4;
  border-top:2px solid black;
  border-bottom: 2px solid black;
  height: 50px;
}

section.hs-home-center{
  background-color: #F4F9FD;
  height: 1200px;
  padding-top:20px;
}
.hs-central{
  width: 80%;
  margin: auto;
}
.hs-central .top-row{
  height: 200px;
  background-color: blue;
  border: 1px solid black;

}
.hs-central .central-row{
  margin-top: 60px;
  background-color: white;
  height: 200px;
  border: 1px solid black;

}
.colomn{
  height: 600px;
  background-color: white;
  border: 1px solid black;
  margin-top:60px;
  width: calc(100% / 3 - 40px);
}
.colomn-left, .colomn-central, .colomn-right{
  float: left;
}
.colomn-central{
  margin-left: 60px;
  margin-right: 60px;
}
  div.enter-community-hs-container{
  background-color: #00A5BD;
  padding-top:20px;
}
.enter-community-hs-container .enter-community-hs{
  height: 500px;
  width: 80%;
  margin: auto;
}
.enter-community-hs .community-title{
  height: 150px;
  border: 1px solid black;

}
.enter-community-hs .community-table{
  margin-top: 20px;
  height: 300px;
  border: 1px solid black;

}
.hs-customers-container{
  width: 80%;
  margin: auto;
}
.hs-customers{
  border: 1px solid black;
  height: 400px;
}
