*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.clearfix:after{
  clear: both;
  display: table;
  content: "";
}
.vertical-center{
  position: absolute;
  top: 50%;
  transform: translate( 0, -50%);
}
.perfect-center{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate( -50%, -50%);
}
.right-pattern{
  position: absolute;
  right: 0px;
  padding-right: 15%;
}
body{
  height: 100vh;
  width: 100vw;
}
.container{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav-global-bar{
  height: 160px;
  color: #10003A;
}
nav.top-bar{
  background-color: #F4F9FD;
  border-bottom:1px solid black;
}
nav.top-bar .top-bar-left{
  width: 40%;
  height: 80px;
  float: left;
  text-align: center;
  position: relative;
  padding-left: 10%;
}
select.chose-language, .top-bar-left-separator, .hs-contact-us, .globe-language{
  display: inline-block;
}
.fa-chevron-down{
  padding-left: 10px;
}
.hs-contact-us a{
  text-decoration: none;
  color: #10003A;
}
.top-bar-left-separator{
  margin-left: 10px;
  margin-right: 10px;
}
nav.top-bar .top-bar-right{
  width: 60%;
  height: 80px;
  float: left;
  position: relative;

}
.hs-search-bar, .log-in-button, .get-hubspot-free{
  display: inline-block;
}
.hs-search-bar a{
  color: #24ACC4;
}
.log-in-button a{
  text-decoration: none;
  color: #FE775A;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border:1px solid #FE775A;
  margin-left: 20px;
  margin-right: 20px;

}
 .get-hubspot-free a{
  text-decoration: none;
  color: white;
  background-color: #FE775A;
  border-radius: 5px;
  padding: 10px;
}
nav.menu-nav-bar{
  background-color: #FFFFFF;
}
.menu-nav-bar .hs-logo{
  width: 40%;
  height: 80px;
  float: left;
  position: relative;
  padding-left: 10%;
}
.menu-nav-bar .group-item{
  width: 60%;
  height: 80px;
  position: relative;
  float: left;
}
.choose-software, .pricing, .choose-resources, .choose-partners, .choose-about{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
section.hs-concept{
  background-image:url("../img/jumbotron.png");
  background-size: cover;
  height: 825px;
  padding-top: 50px;
  padding-left: 10%;
}
.hs-concept .hs-concept-text{
  float: left;
  width: 35%;
}
.hs-concept h1.title-better-way{
  font-weight: bold;
  font-size: 50px;
}
.hs-concept p.hs-concept-paragraph{
  padding-top: 40px;
  font-size: 16px;
  line-height: 30px;
}
 .hs-concept p.start-free-paragraph {
  padding-top: 40px;
  font-size: 13px;
 }
.get-hubspot-free-big{
  background-color: #FE775A;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin-top: 40px;
}
.get-hubspot-free-big a{
 text-decoration: none;
 color: white;

}
div.separator{
  background-color: #AFEBE4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 100px;
}

section.hs-home-center{
  background-color: #F4F9FD;
  padding-bottom: 20px;
  padding-top:20px;
}
.hs-central{
  width: 75%;
  margin: auto;
}
.hs-central .top-row{
  position: relative;
  height: 240px;
  margin-top: 50px;
}
.top-row img{
  height: 100%;
  width: 300px;
}
.hs-central .cube-image-caption{
  margin-top: 60px;
  height: 200px;
  width: 60%;
  margin: auto;
}
.cube-image-caption h1{
  font-size: 30px;
  text-align: center;
  padding: 15px;
}
.cube-image-caption p{
  line-height: 30px;
  height: 30px;
  text-align: center;
  padding: 15px;
}
.hs-central .central-row {
  margin-top: 60px;
  padding-left: 40px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.central-row .column-left{
  padding: 100px;
  width: 400px;
  float: left;
}
.hs-central .central-row .column-left img{
  height: auto;
  width: 200px;
}
.hs-central .central-row .column-left .hs-learn-more-button, .column-bottom-row.column-left .hs-learn-more-button, .column-bottom-row.column-center .hs-learn-more-button,.column-bottom-row.column-right .hs-learn-more-button{
  background-color: #FE775A;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;

}
.column-left  .hs-learn-more-button a, .column-center  .hs-learn-more-button a, .column-right .hs-learn-more-button a{
  text-decoration: none;
  color: white;
}
.central-row .column-right{
  float: left;
  margin: 100px 100px 100px 0;
}
.column-right .hs-crm-paragraph{
  width: 70%;
  margin-top: 30px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 60px;
}
.column-right .popolar-line{
  height: 34px;
  line-height: 34px;
}
.popolar-line .popolar-line-title{
  float: left;
  font-size: 22px;
}
.popolar-line hr{
display: inline-block;
width: 60%;
vertical-align: middle;
border: 1px solid black;
margin-left: 60px;
opacity: 0.4;
}
.column-right .hs-check-item{
  margin-top: 40px;
}
.fa-check-circle{
  padding-right: 10px;
  color: #FE775A;
}
.hs-check-ci, .hs-check-deals{
  padding-right: 10px;
}
.column-bottom-row{
  height: 700px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-top:60px;
  width: calc(100% / 3 - 40px);
}
.column-bottom-row.column-left, .column-bottom-row.column-center, .column-bottom-row.column-right{
  float: left;
}
.bottom-row .column-left img, .bottom-row .column-center img, .bottom-row .column-right img{
  display: block;
  height: 150px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
.column-left .marketing-hub-title, .column-center .sales-hub-title, .column-right .service-hub-title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.column-left .marketing-hub-paragraph, .column-center .sales-hub-paragraph, .column-right .service-hub-paragraph{
  width: 65%;
  margin: auto;
  text-align: center;
}
.bottom-row .column-left hr, .bottom-row .column-center hr, .bottom-row .column-right hr{
  width: 60%;
  margin: auto;
  border: 1px solid black;
  margin-top: 70px;
  opacity: 0.4;
}
.bottom-row .column-left .pl-text, .bottom-row .column-center .pl-text, .bottom-row .column-right .pl-text{
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.column-left .check-and-title, .column-left .hs-learn-more-button, .column-center .check-and-title, .column-center .hs-learn-more-button,  .column-right .check-and-title, .column-right .hs-learn-more-button{
  width: 60%;
  margin: auto;
}
 .bottom-row .column-left .hs-learn-more-button, .bottom-row .column-center .hs-learn-more-button,  .bottom-row .column-right .hs-learn-more-button{
   margin-top: 50px;
   margin-bottom: 10px;
 }
.column-center{
  margin-left: 60px;
  margin-right: 60px;
}
  div.enter-community-hs-container{
  background-color: #00A5BD;
  padding-top:20px;
  color: white;
  text-align: center;
}
.enter-community-hs-container .enter-community-hs{
  padding-bottom: 40px;
  width: 80%;
  margin: auto;
}
.enter-community-hs .community-container{
  height: 150px;
  width: 80%;
  margin: auto;

}
.community-container .community-title{
  font-size: 30px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
.community-container .community-paragraph{
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.enter-community-hs .community-table{
  margin-top: 20px;

}
.community-table table{
  text-align: center;
  margin: auto;
}
.community-table table td{
  height: 200px;
  width: 300px;
}
td.hs-user-group .number, td.hs-blog .number, td.hs-accademy .number, td.hs-inbound .number, td.hs-connect-integrations .number, td.hs-language .number, td.hs-social-followers .number, td.hs-growth-hub .number{
  font-size: 50px;
  font-weight: bold;
  padding: 15px;
}

td.hs-user-group .description, td.hs-blog .description, td.hs-accademy .description, td.hs-inbound .description, td.hs-connect-integrations .description, td.hs-language .description, td.hs-social-followers .description, td.hs-growth-hub .description {
  padding-bottom: 10px;
}
td.hs-user-group, td.hs-blog, td.hs-accademy{
  border-bottom: 2px solid;
  border-right: 2px solid;
}
td.hs-inbound{
  border-bottom: 2px solid;

}
td.hs-connect-integrations, td.hs-language, td.hs-social-followers{
  border-right: 2px solid;
}
.hs-customers-container{
  width: 80%;
  margin: auto;
}
.hs-customers{
  width: 70%;
  margin: auto;
}
.hs-customers .customers-column-left, .hs-customers .customers-column-right{
  float: left;
  height: 100%;
}
.hs-customers .customers-column-left{
  width: 40%;
  padding-top: 30px;

}
.customers-column-left .customers-number{
  font-size: 50px;
  opacity: 0.8;
}
.paragraph-one-container .customers-paragraph-one{
  padding-top: 20px;
  width: 50%;
}
 .paragraph-two-container .customers-paragraph-two{
   padding-top: 20px;
 }
.paragraph-one-container, .paragraph-two-container{
  line-height: 30px;
}
h1.start-growing{
  font-size: 30px;
  opacity: 0.8;
  padding-top: 150px;
}
.get-hubspot-free-button{
  padding-top: 20px;
}
.hubspot-free-paragraph{
  font-size: 12px;
  padding-top: 40px;
}
.hs-customers .customers-column-right{
  width: 60%;
}
.customers-column-right .logo-container img{
  height: 80px;
  width: 160px;
  padding: 20px;
}
.customers-column-right img{
  height: 600px;
  width: 400px;
  float: right;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer{
  background-color: #32495B;
}
section.hs-footer{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  color: white;
  opacity: 0.8;
}
.top-row-footer .column-footer{
  height: 400px;
  width: calc(100% / 4 - 50px);
  margin-right: 50px;
}
.column-footer.column-system-software, .column-footer.column-contacts, .column-footer.column-manage-tools, .column-footer.column-supports{
float: left;
}
.column-footer.column-system-software p, .column-footer.column-contacts p, .column-footer.column-manage-tools p, .column-footer.column-supports p{
  padding-top: 10px;
  padding-bottom: 10px;
}
.column-footer.column-system-software h1, .column-footer.column-contacts h1, .column-footer.column-manage-tools h1, .column-footer.column-supports h1{
  padding-bottom: 20px;
}
.social-media-container i{
  padding: 11px;
}
ul.menu-language{
  text-align: center;
  margin-bottom: 20px;
}
ul.menu-language li{
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 40px 10px;

}
ul.menu-language li a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}
#hr-footer{
  border-bottom-color: white;
  opacity: 0.6;
}
.row-bottom-footer{
  margin-top: 30px;
}
.row-bottom-footer .column-copyright{
  float: left;

}
.row-bottom-footer .column-legal-privacy{
  float: right;
  line-height: 30px;
  height: 30px;
}
.column-supports .contact-hs-button{
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 200px;
  background-color: white;
  color: #32495B;
  border-radius: 10px;
}
#footer-legal{
  margin-right: 15px;
}
